.toggle-switch {
  position: relative;
  width: 70px;
  height: 34px;
  margin-left: 25px;
  margin-right: 25px;

  .toggle-switch-checkbox {
    display: none;

    &:checked + .toggle-switch-label .toggle-switch-inner {
      margin-left: 0;
    }

    &:checked + .toggle-switch-label .toggle-switch-switch {
      right: 0;
      left: auto;
      background-color: #333; 
    }
  }

  .toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 34px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }

  .toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in-out;

    &:before,
    &:after {
      float: left;
      width: 50%;
      height: 30px;
      padding: 0;
      line-height: 30px;
      font-size: 12px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }

    &:before {
      content: "Dark";
      padding-left: 10px;
      background-color: #333;
      color: #fff;
    }

    &:after {
      content: "Light";
      padding-right: 10px;
      background-color: #f0f0f0;
      color: #555;
      text-align: right;
    }
  }

  .toggle-switch-switch {
    display: block;
    width: 26px;
    height: 26px;
    margin: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
}
